In [23]:
import pandas as pd
kv_df = pd.read_csv('../datasets/clothing1m/anno/noisy_label_kv.txt', header=None, sep=' ')
# df.columns = ['path']
print(len(kv_df))
kv_df.columns = ['path', 'label']
kv_df.head()

1037497

                                   path  label
0   images/2/46/50748838,3981129246.jpg      5
1  images/2/56/860908654,4267574256.jpg     13
2  images/9/38/436489045,3143453938.jpg      7
3  images/0/67/486092382,2324083067.jpg      5
4   images/4/55/4029117294,35432455.jpg     12

In [24]:
import pandas as pd
df = pd.read_csv('../datasets/clothing1m/anno/noisy_train_key_list.txt', header=None, sep=' ')
# df.columns = ['path']
print(len(df))
df.head()

1000000

                                       0
0   images/3/25/2958943246,951512325.jpg
1    images/4/72/461537309,942133472.jpg
2  images/7/13/4204850569,2103117713.jpg
3  images/0/81/3754976883,1136919081.jpg
4  images/0/96/2890714614,3776307096.jpg

In [29]:
x = kv_df[kv_df['path'].isin(df[0])]
print(len(x))
x.head()
x.to_csv('../datasets/clothing1m/noisy_train_kv.txt', index=False, sep=' ', header=False)

1000000

In [30]:
import pandas as pd
kv_df = pd.read_csv('../datasets/clothing1m/anno/clean_label_kv.txt', header=None, sep=' ')
# df.columns = ['path']
print(len(kv_df))
kv_df.columns = ['path', 'label']
kv_df.head()

72409

                                    path  label
0   images/7/88/339645240,2782721788.jpg      9
1   images/3/32/3772565911,269049332.jpg      4
2    images/5/05/3839087683,82531505.jpg      8
3   images/7/80/4164884897,484083780.jpg      9
4  images/8/34/1686078362,3758137834.jpg      9

In [31]:
import pandas as pd
df = pd.read_csv('../datasets/clothing1m/anno/clean_test_key_list.txt', header=None, sep=' ')
# df.columns = ['path']
print(len(df))
df.head()

10526

                                       0
0   images/0/00/1278541879,867148000.jpg
1  images/0/00/1298176222,2755628000.jpg
2  images/0/00/1761426484,4024076000.jpg
3  images/0/00/1992782016,1485508000.jpg
4  images/0/00/2281045900,1423836000.jpg

In [ ]:
x = kv_df[kv_df['path'].isin(df[0])]
print(len(x))
x.head()
x.to_csv('../datasets/clothing1m/clean_test_kv.txt', index=False, sep=' ', header=False)