# Format ref numpy to tsv

In [74]:
path = "/home/krsharma/ClassificationImageText/trained_models/food101n_20e/robustnoiserank/food-256d_emb/ref_100.npy"
import numpy as np

ref = np.load(path)

print(ref.shape)

(101, 100, 256)

In [75]:
import pandas as pd

df = pd.DataFrame()

def join_str(ci):
    return ",".join(map(str, ci))
    
labels = []
vecs = []
for classname, c in enumerate(ref):
    labels += [int(classname)] * len(c)
    vecs += [join_str(ci) for ci in np.round(c, 3)]
labels = np.array(labels, dtype=np.int32)
df['id'] = np.arange(len(labels))
df['img'] = np.arange(len(labels))
df['labels'] = labels
df['feats'] = vecs

df.head()

   id  img  labels                                              feats
0   0    0       0  -0.127,-0.154,-0.352,-0.407,-0.961,-0.984,1.42...
1   1    1       0  -1.359,0.129,-1.758,-0.667,-1.051,-2.595,2.157...
2   2    2       0  -0.162,0.243,-1.679,0.977,-0.351,-1.193,1.336,...
3   3    3       0  -3.091,1.11,0.856,-0.491,-1.781,-1.027,2.191,1...
4   4    4       0  -1.57,1.605,-0.662,-0.56,-1.545,-1.351,0.69,-0...

In [76]:
df.to_csv('/home/krsharma/ClassificationImageText/trained_models/food101n_20e/robustnoiserank/food-256d_emb/ref_100.tsv', sep='\t', header=None, index=False)

# Format extracted 256d embeddings from pkl to tsv

In [3]:
import pickle as pkl

d = pkl.load(open('/home/krsharma/ClassificationImageText/trained_models/food101n_20e/robustnoiserank/food-256d_emb/d_00000_310016x256.pickle', 'rb'))

In [4]:
d[0].shape

(310016, 256)

In [6]:
import pandas as pd
import numpy as np
df = pd.DataFrame()
sid = np.arange(310016)
eid = d[1]
df['sid'] = sid
df['eid'] = eid
df.head(), len(eid), len(sid)

(   sid                                   eid
 0    0  GI9uBAWRhfzG1nUAAAzjnzoJcJgibiMZAAAB
 1    1  GCkNDwV7ObrPpLYBABnZ_7w_vr9CbiMZAAAB
 2    2  GJBOBAWLhcNljbwAAKQeAWSKKuw-biMZAAAB
 3    3  GNISEwVLJSQ7BJkAALjn5V6u0A0cbiMZAAAB
 4    4  GLl9CgV4sRPHnSUCAC_aD9jiJ741biMZAAAB, 310016, 310016)

In [7]:
ldf = pd.read_csv('/home/krsharma/ClassificationImageText/trained_models/food101n_20e/robustnoiserank/food-256d_emb/eluo_food101n_everstore_handle_with_label_and_type.csv', header=None)

ldf.head()

,0,1,2,3,4,5,6,7
0,caesar_salad/f8c49734588789daf70be79ffcef9eeb.jpg,f8c49734588789daf70be79ffcef9eeb.jpg,GGLeAwXvkdcqIkcCAI1Z3nzqCwY_biMZAAAB,caesar_salad,11,1.0,2020-02-04,val
1,foie_gras/7a46407ee4c2157aa9abbba1d553e2dd.jpg,7a46407ee4c2157aa9abbba1d553e2dd.jpg,GOX-EQULBp9FmCYDAJLabL7HqXAybiMZAAAB,foie_gras,39,1.0,2020-02-04,val
2,chicken_curry/04b4c813f792838a1cf5ab5086fcb3bb...,04b4c813f792838a1cf5ab5086fcb3bb.jpg,GDSUEQXgTAGMv6kAAAgDm2KPWXBFbiMZAAAB,chicken_curry,18,1.0,2020-02-04,val
3,caprese_salad/8b77869b9f11f198dab328ea2ba0345b...,8b77869b9f11f198dab328ea2ba0345b.jpg,GCunEwXTgNf9OyQCAH40C9EZf98tbiMZAAAB,caprese_salad,13,1.0,2020-02-04,val
4,chocolate_cake/a1e79808922f9c3b219718aeda7b591...,a1e79808922f9c3b219718aeda7b5916.jpg,GFiYAwVHTQHbYhQDAC1ZOvBfpK9BbiMZAAAB,chocolate_cake,21,1.0,2020-02-04,val

In [25]:
np.unique(ldf[4], return_counts=True)[1] # .max() # .mean()

array([2467, 2581, 2874, 2028, 2012, 2921, 2802, 2675, 2982, 2752, 2895,
       3178, 2846, 2806, 2966, 3494, 3672, 2843, 2979, 2577, 2873, 3016,
       2793, 2799, 3070, 2937, 3110, 3063, 2173, 3086, 2392, 3765, 3274,
       2647, 2876, 2262, 3590, 2752, 3015, 3036, 2832, 2385, 3046, 2326,
       3529, 3253, 2781, 3879, 2972, 2204, 2835, 3369, 3420, 4095, 2225,
       3772, 2483, 3803, 3959, 3262, 2544, 2110, 2614, 2710, 2703, 3366,
       3727, 2921, 2628, 3686, 4063, 3439, 3704, 2411, 3040, 5344, 5165,
       2738, 3643, 3179, 2712, 4600, 3844, 2374, 3357, 2396, 3494, 3150,
       2052, 2853, 2744, 2298, 3013, 4791, 2386, 4533, 4423, 2673, 3013,
       2691, 3568])

In [97]:
# 30 (min), 40 (mean), 50 (max) vs 100 (min), 190 (mean), 211 (max)
K = np.sqrt(2012)
print(K)

K = np.sqrt(3070)
print(K)

K = np.sqrt(5344)
print(K)

44.85532298401161
55.40758070878027
73.10266752998827

In [15]:
ldict = dict(zip(ldf[2], ldf[4]))

In [16]:
df['label'] = df['eid'].apply(lambda x: ldict[x])

In [17]:
df.head()

   sid                                   eid  label
0    0  GI9uBAWRhfzG1nUAAAzjnzoJcJgibiMZAAAB     15
1    1  GCkNDwV7ObrPpLYBABnZ_7w_vr9CbiMZAAAB     97
2    2  GJBOBAWLhcNljbwAAKQeAWSKKuw-biMZAAAB     67
3    3  GNISEwVLJSQ7BJkAALjn5V6u0A0cbiMZAAAB     52
4    4  GLl9CgV4sRPHnSUCAC_aD9jiJ741biMZAAAB     69

In [19]:
emb = np.vstack([d[0]]) # , d2[0]])

In [20]:
df['emb'] = list(np.round(emb, 3))
df.head()

,sid,eid,label,emb
0,0,GI9uBAWRhfzG1nUAAAzjnzoJcJgibiMZAAAB,15,"[-0.788, -0.576, -1.599, -0.621, -0.873, 0.211..."
1,1,GCkNDwV7ObrPpLYBABnZ_7w_vr9CbiMZAAAB,97,"[-0.298, 1.245, -2.141, -0.648, -1.364, -1.228..."
2,2,GJBOBAWLhcNljbwAAKQeAWSKKuw-biMZAAAB,67,"[0.241, -0.815, -1.77, -2.721, -0.594, -0.188,..."
3,3,GNISEwVLJSQ7BJkAALjn5V6u0A0cbiMZAAAB,52,"[-3.262, -1.129, 2.943, -2.279, -1.141, 0.328,..."
4,4,GLl9CgV4sRPHnSUCAC_aD9jiJ741biMZAAAB,69,"[1.114, -0.484, -0.674, 0.579, -2.052, 1.537, ..."

In [21]:
df['emb'] = df['emb'].apply(lambda x: ",".join(map(str, x)))

In [22]:
df.head()

,sid,eid,label,emb
0,0,GI9uBAWRhfzG1nUAAAzjnzoJcJgibiMZAAAB,15,"-0.788,-0.576,-1.599,-0.621,-0.873,0.211,-0.87..."
1,1,GCkNDwV7ObrPpLYBABnZ_7w_vr9CbiMZAAAB,97,"-0.298,1.245,-2.141,-0.648,-1.364,-1.228,1.341..."
2,2,GJBOBAWLhcNljbwAAKQeAWSKKuw-biMZAAAB,67,"0.241,-0.815,-1.77,-2.721,-0.594,-0.188,0.083,..."
3,3,GNISEwVLJSQ7BJkAALjn5V6u0A0cbiMZAAAB,52,"-3.262,-1.129,2.943,-2.279,-1.141,0.328,-1.815..."
4,4,GLl9CgV4sRPHnSUCAC_aD9jiJ741biMZAAAB,69,"1.114,-0.484,-0.674,0.579,-2.052,1.537,-1.49,0..."

In [24]:
df.to_csv('/home/krsharma/ClassificationImageText/trained_models/food101n_20e/robustnoiserank/cleannet_all_256d.tsv', sep='\t', index=False, header=None)

# Evaluate robustnoiserank

In [58]:
cleannet_all_256d = pd.read_csv('/home/krsharma/ClassificationImageText/trained_models/food101n_20e/robustnoiserank/food-256d_emb/cleannet_all_256d.tsv', header=None, sep='\t')

cleannet_all_256d_df = cleannet_all_256d[[0, 1, 2]]

cleannet_all_256d_df.head()

everstore_mapping = dict(zip(cleannet_all_256d_df[0], cleannet_all_256d_df[1]))
everstore_mapping[0]

'GI9uBAWRhfzG1nUAAAzjnzoJcJgibiMZAAAB'

In [59]:
dict_noisylabel = dict(zip(ldf[0], ldf[4]))
dict_everstorehandle = dict(zip(ldf[0], ldf[2]))
ldf.head()

,0,1,2,3,4,5,6,7
0,caesar_salad/f8c49734588789daf70be79ffcef9eeb.jpg,f8c49734588789daf70be79ffcef9eeb.jpg,GGLeAwXvkdcqIkcCAI1Z3nzqCwY_biMZAAAB,caesar_salad,11,1.0,2020-02-04,val
1,foie_gras/7a46407ee4c2157aa9abbba1d553e2dd.jpg,7a46407ee4c2157aa9abbba1d553e2dd.jpg,GOX-EQULBp9FmCYDAJLabL7HqXAybiMZAAAB,foie_gras,39,1.0,2020-02-04,val
2,chicken_curry/04b4c813f792838a1cf5ab5086fcb3bb...,04b4c813f792838a1cf5ab5086fcb3bb.jpg,GDSUEQXgTAGMv6kAAAgDm2KPWXBFbiMZAAAB,chicken_curry,18,1.0,2020-02-04,val
3,caprese_salad/8b77869b9f11f198dab328ea2ba0345b...,8b77869b9f11f198dab328ea2ba0345b.jpg,GCunEwXTgNf9OyQCAH40C9EZf98tbiMZAAAB,caprese_salad,13,1.0,2020-02-04,val
4,chocolate_cake/a1e79808922f9c3b219718aeda7b591...,a1e79808922f9c3b219718aeda7b5916.jpg,GFiYAwVHTQHbYhQDAC1ZOvBfpK9BbiMZAAAB,chocolate_cake,21,1.0,2020-02-04,val

In [60]:
val = ldf[ldf[7] == 'val']
len(val), val.head()

(4741,                                                    0  \
 0  caesar_salad/f8c49734588789daf70be79ffcef9eeb.jpg
 1     foie_gras/7a46407ee4c2157aa9abbba1d553e2dd.jpg
 2  chicken_curry/04b4c813f792838a1cf5ab5086fcb3bb...
 3  caprese_salad/8b77869b9f11f198dab328ea2ba0345b...
 4  chocolate_cake/a1e79808922f9c3b219718aeda7b591...

                                       1                                     2  \
 0  f8c49734588789daf70be79ffcef9eeb.jpg  GGLeAwXvkdcqIkcCAI1Z3nzqCwY_biMZAAAB
 1  7a46407ee4c2157aa9abbba1d553e2dd.jpg  GOX-EQULBp9FmCYDAJLabL7HqXAybiMZAAAB
 2  04b4c813f792838a1cf5ab5086fcb3bb.jpg  GDSUEQXgTAGMv6kAAAgDm2KPWXBFbiMZAAAB
 3  8b77869b9f11f198dab328ea2ba0345b.jpg  GCunEwXTgNf9OyQCAH40C9EZf98tbiMZAAAB
 4  a1e79808922f9c3b219718aeda7b5916.jpg  GFiYAwVHTQHbYhQDAC1ZOvBfpK9BbiMZAAAB

                 3   4    5           6    7
 0    caesar_salad  11  1.0  2020-02-04  val
 1       foie_gras  39  1.0  2020-02-04  val
 2   chicken_curry  18  1.0  2020-02-04  val
 3   caprese_salad  13  1.0  2020-02-04  val
 4  chocolate_cake  21  1.0  2020-02-04  val  )

In [103]:
detected = np.loadtxt('/home/krsharma/ClassificationImageText/trained_models/food101n_20e/robustnoiserank/food-256d_emb/results_100/k=15_a=0.5_bf=1.0_b=1.0_e=2.0.txt')

print(len(detected))

# 342202 
# 633645 k=250_a=0.5_bf=1.0_b=1.0_e=2.0.txt

detected_noise_everstore = [everstore_mapping[d] for d in detected]
print(detected_noise_everstore[0:5], len(detected_noise_everstore))

print(detected[0:8])

137303
['GM4PEwVswnfNpLIAAIs9aA1zf0s4biMZAAAB', 'GMAfCwWsiJiF8m4AAHJKcnNnT7FtbiMZAAAB', 'GKh6CAWYWsXZLK4AALBrrnF8-4l4biMZAAAB', 'GCphEAVVsGoMXa8AAJUEtaV2xDg3biMZAAAB', 'GKpyBAWRZ7CxwaIAAKvp7ryJlH5_biMZAAAB'] 137303
[ 11837.  10330. 171128. 232558. 135771. 103676.  92955. 295004.]

In [104]:
set_detected_noise = set(detected_noise_everstore)

val['detected_label'] = val[2].apply(lambda x: 0.0 if x in set_detected_noise else 1.0)
val.head()

vlabels = np.array(val[5], dtype=np.int32)
preds = np.array(val['detected_label'], dtype=np.int32)
classes = np.array(val[4], dtype=np.int32)

from sklearn.metrics import f1_score, classification_report, precision_recall_fscore_support

def report_metrics(targets, preds, classes):
    C = np.max(classes) + 1
    per_class_accuracies = np.zeros((C,))
    for c in range(C):
        ind = np.where(classes == c)[0]
        class_acc = f1_score(targets[ind], preds[ind], average='micro')
        per_class_accuracies[c] = class_acc
    
    print('P/R/F1 (noise)', precision_recall_fscore_support(targets, preds, pos_label=0, average='binary'))
    print('f1_metrics (macro/unweighted mean)', f1_score(targets, preds, average='macro'))
    acc_classes = np.mean(per_class_accuracies)
    print('avg accuracy over classes', acc_classes, 'AvgErrorRate', 1 - acc_classes)
    
    report_additional = False
    if report_additional:
        print()
        acc = f1_score(targets, preds, average='micro')
        print('f1_metrics (accuracy/micro)', acc, 'ErrorRate', 1 - acc)
        print('P/R/F1 (clean)', precision_recall_fscore_support(targets, preds, pos_label=1, average='binary'))
        print('f1_metrics (weighted mean of f1)', f1_score(targets, preds, average='weighted'))
    # cr = classification_report(targets, preds)

report_metrics(vlabels, preds, classes)

P/R/F1 (noise) (0.4, 0.9029443838604144, 0.5544024104452628, None)
f1_metrics (macro/unweighted mean) 0.6747377718123158
avg accuracy over classes 0.7175602316924394 AvgErrorRate 0.28243976830756057

/home/krsharma/miniconda3/envs/bert/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [102]:
results_30

5P/R/F1 (noise) (0.39812992125984253, 0.8822246455834242, 0.5486605629026788, None)
f1_metrics (macro/unweighted mean) 0.6724628392348998
avg accuracy over classes 0.7185903864103752 AvgErrorRate 0.2814096135896248

10P/R/F1 (noise) (0.3869441816461684, 0.8920392584514721, 0.5397558561530847, None)
f1_metrics (macro/unweighted mean) 0.6617551564132343
avg accuracy over classes 0.7040161392502351 AvgErrorRate 0.2959838607497649

results_40

5P/R/F1 (noise) (0.40699442473390773, 0.8756815703380589, 0.5557093425605536, None)
f1_metrics (macro/unweighted mean) 0.6804638945812477
avg accuracy over classes 0.7282107586403482 AvgErrorRate 0.27178924135965177

10 P/R/F1 (noise) (0.4025403028822667, 0.8985823336968375, 0.5560053981106613, None)
f1_metrics (macro/unweighted mean) 0.6770514870271012
avg accuracy over classes 0.7207489675232696 AvgErrorRate 0.27925103247673044


results_50
5P/R/F1 (noise) (0.4117946110828673, 0.8833151581243184, 0.5617198335644938, None)
f1_metrics (macro/unweighted mean) 0.6850733147816408
avg accuracy over classes 0.7328569955055766 AvgErrorRate 0.2671430044944234

results_100
5P/R/F1 (noise) (0.423936170212766, 0.8691384950926936, 0.5698963174830175, None)
f1_metrics (macro/unweighted mean) 0.6949705970361983
avg accuracy over classes 0.745269233253319 AvgErrorRate 0.25473076674668105

10P/R/F1 (noise) (0.4117943548387097, 0.8909487459105779, 0.5632540503274733, None)
f1_metrics (macro/unweighted mean) 0.6853650588972118
avg accuracy over classes 0.7317169146044237 AvgErrorRate 0.2682830853955763

SyntaxError: invalid syntax (<ipython-input-102-e445be1c711d>, line 3)

# Give detected ranked list as everstore handles

In [198]:
detected = np.loadtxt('/home/krsharma/ClassificationImageText/trained_models/clothing1m_10e/robustnoiserank/clothing-256d_emb/results_100/k=100_a=0.5_bf=1.0_b=1.0_e=2.0.txt')

76144.0

In [199]:
# cleannet_all_256d.tsv everstore (matches row number)

cleannet_all_256d = pd.read_csv('/home/krsharma/ClassificationImageText/trained_models/clothing1m_10e/robustnoiserank/clothing-256d_emb/cleannet_all_256d.tsv', header=None, sep='\t')

cleannet_all_256d_df = cleannet_all_256d[[0, 1, 2]]

cleannet_all_256d_df.head()

everstore_mapping = dict(zip(cleannet_all_256d_df[0], cleannet_all_256d_df[1]))
everstore_mapping[0]

'GC0fEQWFdXBogHcAABeqOGzEdyUwbiMZAAAB'

In [200]:
cleannet_all_256d_df.head()

   0                                     1   2
0  0  GC0fEQWFdXBogHcAABeqOGzEdyUwbiMZAAAB  11
1  1  GGu2BgVlNA76K6wAACw9uey3qGRmbiMZAAAB   0
2  2  GIb5EAVPqE2MIqgAAJwWenTzGsMibiMZAAAB   8
3  3  GMHYDwXmNmm_OO8IAB9d_7IBUAQMbiMZAAAB   2
4  4  GKYAEQUuckgIWOYDAO8iPtU-xis0biMZAAAB   0

In [201]:
len(detected)

342202

In [203]:
eranked = [everstore_mapping[d] for d in detected]
print(eranked[0:10], len(eranked))

['GFUNEQV8QzrF4BYJACLwms5fwYQnbiMZAAAB', 'GLmSAgWfLiGHbKwBALbtKFfLtuBwbiMZAAAB', 'GC2-CAUil1DYCqwAAHb-CgBLniNcbiMZAAAB', 'GPmHCQW2xPBDsn8AADQliIRLNdA9biMZAAAB', 'GIubAgUsjPMi3L0AANPSFAHmlkdabiMZAAAB', 'GDclBwVTvXzzxa8AACdDC9sNSl5bbiMZAAAB', 'GGI_EQUhKwLfq6IDAIThHOj0cvdrbiMZAAAB', 'GHUwCwVv7S3I_FkMAHorw27TxAAWbiMZAAAB', 'GO2wBgV_Ynta2jACALr7YsnChiILbiMZAAAB', 'GGWzEwVbzo2XK6QAALovSL047BtjbiMZAAAB'] 342202

In [205]:
np.savetxt('out.txt', eranked, fmt='%s')

In [45]:
20/100 * 310000.0

62000.0