# Format ref numpy to tsv

In [228]:
path = "/home/krsharma/ClassificationImageText/trained_models/clothing1m_10e/robustnoiserank/clothing-256d_emb/ref_190.npy"
import numpy as np

ref = np.load(path)

print(ref.shape)

(14, 190, 256)

In [229]:
import pandas as pd

df = pd.DataFrame()

def join_str(ci):
    return ",".join(map(str, ci))
    
labels = []
vecs = []
for classname, c in enumerate(ref):
    labels += [int(classname)] * len(c)
    vecs += [join_str(ci) for ci in np.round(c, 3)]
labels = np.array(labels, dtype=np.int32)
df['id'] = np.arange(len(labels))
df['img'] = np.arange(len(labels))
df['labels'] = labels
df['feats'] = vecs

df.head()

   id  img  labels                                              feats
0   0    0       0  -0.235,-0.549,0.175,0.032,0.889,0.204,-0.224,-...
1   1    1       0  0.128,-0.172,-0.144,0.358,-0.83,-0.064,0.86,0....
2   2    2       0  -0.314,-0.068,0.655,0.546,-0.412,1.618,-0.114,...
3   3    3       0  -0.108,-0.794,-0.494,0.216,1.228,0.856,-0.151,...
4   4    4       0  -0.646,0.022,-0.52,0.535,1.072,0.698,-0.96,-0....

In [230]:
df.to_csv('/home/krsharma/ClassificationImageText/trained_models/clothing1m_10e/robustnoiserank/clothing-256d_emb/ref_190.tsv', sep='\t', header=None, index=False)

# Format extracted 256d embeddings from pkl to tsv

In [22]:
import pickle as pkl

d = pkl.load(open('/home/krsharma/d_00000_781250x256.pickle', 'rb'))

In [30]:
d[0].shape

(781250, 256)

In [31]:
d2 = pkl.load(open('/home/krsharma/d_00001_226238x256.pickle', 'rb'))

In [32]:
d2[0].shape

(226238, 256)

In [33]:
781250 + 226238

1007488

In [43]:
import pandas as pd
df = pd.DataFrame()
sid = np.arange(1007488)
eid = d[1] + d2[1]
df['sid'] = sid
df['eid'] = eid
df.head(), len(eid), len(sid)

(   sid                                   eid
 0    0  GC0fEQWFdXBogHcAABeqOGzEdyUwbiMZAAAB
 1    1  GGu2BgVlNA76K6wAACw9uey3qGRmbiMZAAAB
 2    2  GIb5EAVPqE2MIqgAAJwWenTzGsMibiMZAAAB
 3    3  GMHYDwXmNmm_OO8IAB9d_7IBUAQMbiMZAAAB
 4    4  GKYAEQUuckgIWOYDAO8iPtU-xis0biMZAAAB, 1007488, 1007488)

In [46]:
ldf = pd.read_csv('/home/krsharma/ClassificationImageText/trained_models/clothing1m_10e/robustnoiserank/clothing-256d_emb/eluo_clothing1m_everstore_handle_with_label_and_type.csv', header=None)

ldf.head()

,0,1,2,3,4,5,6,7
0,"images/0/53/260975258,2323897053.jpg","260975258,2323897053.jpg",GOotBwWSElDZtFsAAGshNhrA9hdEbiMZAAAB,Jacket,7,0.0,2020-02-04,val
1,"images/3/61/2976764135,2716435361.jpg","2976764135,2716435361.jpg",GProEQWGvjYQw6kAAK1c8Yf51zpabiMZAAAB,Jacket,7,0.0,2020-02-04,val
2,"images/9/51/2289770356,3952390951.jpg","2289770356,3952390951.jpg",GO3cCwUP8P3SX28AANt4RxtOHgYmbiMZAAAB,T-Shirt,0,NaN,2020-02-04,test
3,"images/9/46/430097811,2005980946.jpg","430097811,2005980946.jpg",GCAlEQWVFrN0SpECAJkqle41WVwlbiMZAAAB,Vest,12,NaN,2020-02-04,test
4,"images/4/53/3469714287,432026453.jpg","3469714287,432026453.jpg",GCKSEQVFfl_GL3kAANhTTwICHxdGbiMZAAAB,Dress,11,NaN,2020-02-04,test

In [255]:
np.unique(ldf[4], return_counts=True)[1].mean() # .mean()

72713.64285714286

In [257]:
# 200
K = np.sqrt(20049/2)
print(K)

K = np.sqrt(72713.64285714286/2)
print(K)

K = np.sqrt(89851/2)
print(K)

100.12242506052279
190.67464810134416
211.95636343360866

In [249]:
ldict = dict(zip(ldf[2], ldf[4]))

In [56]:
df['label'] = df['eid'].apply(lambda x: ldict[x])

In [57]:
df.head()

   sid                                   eid  label
0    0  GC0fEQWFdXBogHcAABeqOGzEdyUwbiMZAAAB     11
1    1  GGu2BgVlNA76K6wAACw9uey3qGRmbiMZAAAB      0
2    2  GIb5EAVPqE2MIqgAAJwWenTzGsMibiMZAAAB      8
3    3  GMHYDwXmNmm_OO8IAB9d_7IBUAQMbiMZAAAB      2
4    4  GKYAEQUuckgIWOYDAO8iPtU-xis0biMZAAAB      0

In [58]:
emb = np.vstack([d[0], d2[0]])

In [66]:
df['emb'] = list(np.round(emb, 3))
df.head()

,sid,eid,label,emb
0,0,GC0fEQWFdXBogHcAABeqOGzEdyUwbiMZAAAB,11,"[-0.423, -0.407, 1.321, -1.238, -0.747, 0.288,..."
1,1,GGu2BgVlNA76K6wAACw9uey3qGRmbiMZAAAB,0,"[-0.228, 0.309, -0.259, -0.004, -0.036, 0.768,..."
2,2,GIb5EAVPqE2MIqgAAJwWenTzGsMibiMZAAAB,8,"[-1.511, -0.202, 1.033, 1.426, 0.154, -0.068, ..."
3,3,GMHYDwXmNmm_OO8IAB9d_7IBUAQMbiMZAAAB,2,"[-0.597, 0.106, 2.139, -0.824, 0.161, 0.893, -..."
4,4,GKYAEQUuckgIWOYDAO8iPtU-xis0biMZAAAB,0,"[0.118, 1.405, -0.913, -0.631, -0.567, 2.513, ..."

In [67]:
df['emb'] = df['emb'].apply(lambda x: ",".join(map(str, x)))

In [68]:
df.head()

,sid,eid,label,emb
0,0,GC0fEQWFdXBogHcAABeqOGzEdyUwbiMZAAAB,11,"-0.423,-0.407,1.321,-1.238,-0.747,0.288,-0.724..."
1,1,GGu2BgVlNA76K6wAACw9uey3qGRmbiMZAAAB,0,"-0.228,0.309,-0.259,-0.004,-0.036,0.768,-0.613..."
2,2,GIb5EAVPqE2MIqgAAJwWenTzGsMibiMZAAAB,8,"-1.511,-0.202,1.033,1.426,0.154,-0.068,-1.277,..."
3,3,GMHYDwXmNmm_OO8IAB9d_7IBUAQMbiMZAAAB,2,"-0.597,0.106,2.139,-0.824,0.161,0.893,-1.64,-0..."
4,4,GKYAEQUuckgIWOYDAO8iPtU-xis0biMZAAAB,0,"0.118,1.405,-0.913,-0.631,-0.567,2.513,-1.582,..."

In [69]:
df.to_csv('/home/krsharma/ClassificationImageText/trained_models/clothing1m_10e/robustnoiserank/cleannet_all_256d.tsv', sep='\t', index=False, header=None)

# Evaluate robustnoiserank

In [ ]:
cleannet_all_256d = pd.read_csv('/home/krsharma/ClassificationImageText/trained_models/clothing1m_10e/robustnoiserank/clothing-256d_emb/cleannet_all_256d.tsv', header=None, sep='\t')

cleannet_all_256d_df = cleannet_all_256d[[0, 1, 2]]

cleannet_all_256d_df.head()

everstore_mapping = dict(zip(cleannet_all_256d_df[0], cleannet_all_256d_df[1]))
everstore_mapping[0]

In [239]:
detected = np.loadtxt('/home/krsharma/ClassificationImageText/trained_models/clothing1m_10e/robustnoiserank/clothing-256d_emb/results_190/k=250_a=0.5_bf=1.0_b=1.0_e=2.0.txt')

print(len(detected))

# 342202 
# 633645 k=250_a=0.5_bf=1.0_b=1.0_e=2.0.txt

detected_noise_everstore = [everstore_mapping[d] for d in detected]
print(detected_noise_everstore[0:5], len(detected_noise_everstore))

print(detected[0:8])

392489
['GFUNEQV8QzrF4BYJACLwms5fwYQnbiMZAAAB', 'GLmSAgWfLiGHbKwBALbtKFfLtuBwbiMZAAAB', 'GPmHCQW2xPBDsn8AADQliIRLNdA9biMZAAAB', 'GDclBwVTvXzzxa8AACdDC9sNSl5bbiMZAAAB', 'GGWzEwVbzo2XK6QAALovSL047BtjbiMZAAAB'] 392489
[ 76144. 623843.  87420. 812828. 943857. 631377. 483541. 660380.]

In [182]:
dict_noisylabel = dict(zip(ldf[0], ldf[4]))
dict_everstorehandle = dict(zip(ldf[0], ldf[2]))
ldf.head()

,0,1,2,3,4,5,6,7
0,"images/0/53/260975258,2323897053.jpg","260975258,2323897053.jpg",GOotBwWSElDZtFsAAGshNhrA9hdEbiMZAAAB,Jacket,7,0.0,2020-02-04,val
1,"images/3/61/2976764135,2716435361.jpg","2976764135,2716435361.jpg",GProEQWGvjYQw6kAAK1c8Yf51zpabiMZAAAB,Jacket,7,0.0,2020-02-04,val
2,"images/9/51/2289770356,3952390951.jpg","2289770356,3952390951.jpg",GO3cCwUP8P3SX28AANt4RxtOHgYmbiMZAAAB,T-Shirt,0,NaN,2020-02-04,test
3,"images/9/46/430097811,2005980946.jpg","430097811,2005980946.jpg",GCAlEQWVFrN0SpECAJkqle41WVwlbiMZAAAB,Vest,12,NaN,2020-02-04,test
4,"images/4/53/3469714287,432026453.jpg","3469714287,432026453.jpg",GCKSEQVFfl_GL3kAANhTTwICHxdGbiMZAAAB,Dress,11,NaN,2020-02-04,test

In [183]:
val = ldf[ldf[7] == 'val']
len(val), val.head()

(7465,                                        0                          1  \
 0   images/0/53/260975258,2323897053.jpg   260975258,2323897053.jpg
 1  images/3/61/2976764135,2716435361.jpg  2976764135,2716435361.jpg
 5  images/0/61/2084697051,3460346061.jpg  2084697051,3460346061.jpg
 6    images/4/45/1970005206,57268445.jpg    1970005206,57268445.jpg
 7   images/9/45/3795980266,517718945.jpg   3795980266,517718945.jpg

                                       2       3  4    5           6    7
 0  GOotBwWSElDZtFsAAGshNhrA9hdEbiMZAAAB  Jacket  7  0.0  2020-02-04  val
 1  GProEQWGvjYQw6kAAK1c8Yf51zpabiMZAAAB  Jacket  7  0.0  2020-02-04  val
 5  GEMWEgUop6FFgmoAAJa94brcVmQrbiMZAAAB  Jacket  7  0.0  2020-02-04  val
 6  GNi3DwVh9M2U95wAAIYARk8RzqpEbiMZAAAB  Jacket  7  0.0  2020-02-04  val
 7  GOjYEAXTDWHbKNQAABY6FZpR1tgabiMZAAAB  Jacket  7  1.0  2020-02-04  val  )

In [240]:
set_detected_noise = set(detected_noise_everstore)

val['detected_label'] = val[2].apply(lambda x: 0.0 if x in set_detected_noise else 1.0)
val.head()

vlabels = np.array(val[5], dtype=np.int32)
preds = np.array(val['detected_label'], dtype=np.int32)
classes = np.array(val[4], dtype=np.int32)

from sklearn.metrics import f1_score, classification_report, precision_recall_fscore_support

def report_metrics(targets, preds, classes):
    C = np.max(classes) + 1
    per_class_accuracies = np.zeros((C,))
    for c in range(C):
        ind = np.where(classes == c)[0]
        class_acc = f1_score(targets[ind], preds[ind], average='micro')
        per_class_accuracies[c] = class_acc
    
    print('P/R/F1 (noise)', precision_recall_fscore_support(targets, preds, pos_label=0, average='binary'))
    print('f1_metrics (macro/unweighted mean)', f1_score(targets, preds, average='macro'))
    acc_classes = np.mean(per_class_accuracies)
    print('avg accuracy over classes', acc_classes, 'AvgErrorRate', 1 - acc_classes)
    
    report_additional = False
    if report_additional:
        print()
        acc = f1_score(targets, preds, average='micro')
        print('f1_metrics (accuracy/micro)', acc, 'ErrorRate', 1 - acc)
        print('P/R/F1 (clean)', precision_recall_fscore_support(targets, preds, pos_label=1, average='binary'))
        print('f1_metrics (weighted mean of f1)', f1_score(targets, preds, average='weighted'))
    # cr = classification_report(targets, preds)

report_metrics(vlabels, preds, classes)

P/R/F1 (noise) (0.5976923076923077, 0.8110647181628392, 0.6882196634189548, None)
f1_metrics (macro/unweighted mean) 0.7146345987521454
avg accuracy over classes 0.7213610046174749 AvgErrorRate 0.2786389953825251

/home/krsharma/miniconda3/envs/bert/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
*342202 detected = np.loadtxt('/home/krsharma/ClassificationImageText/trained_models/clothing1m_10e/robustnoiserank/clothing-256d_emb/results_100/k=100_a=0.5_bf=1.0_b=1.0_e=2.0.txt')

P/R/F1 (noise) (0.6354902514834699, 0.7825330549756437, 0.7013878060190238, None)
f1_metrics (macro/unweighted mean) 0.738271688614772
avg accuracy over classes 0.7441506457285033 AvgErrorRate 0.2558493542714967


287874 detected = np.loadtxt('/home/krsharma/ClassificationImageText/trained_models/clothing1m_10e/robustnoiserank/clothing-256d_emb/results_500/k=250_a=0.5_bf=1.0_b=1.0_e=2.0.txt')

P/R/F1 (noise) (0.6724960254372019, 0.7359081419624217, 0.702774547266988, None)
f1_metrics (macro/unweighted mean) 0.7510057227413381
avg accuracy over classes 0.7569446650329086 AvgErrorRate 0.24305533496709142

361041 detected = np.loadtxt('/home/krsharma/ClassificationImageText/trained_models/clothing1m_10e/robustnoiserank/clothing-256d_emb/results_500/k=250_a=0.5_bf=1.0_b=1.0_e=2.0.txt')

P/R/F1 (noise) (0.6197106197106197, 0.789839944328462, 0.6945081841823466, None)
f1_metrics (macro/unweighted mean) 0.728285904315646
avg accuracy over classes 0.7348079459620196 AvgErrorRate 0.2651920540379804


*best*247021 detected = np.loadtxt('/home/krsharma/ClassificationImageText/trained_models/clothing1m_10e/robustnoiserank/clothing-256d_emb/results_190/k=50_a=0.5_bf=1.0_b=1.0_e=2.0.txt')

P/R/F1 (noise) (0.7011772853185596, 0.7045929018789144, 0.7028809441166263, None)
f1_metrics (macro/unweighted mean) 0.7580722347110183
avg accuracy over classes 0.7645810177532378 AvgErrorRate 0.23541898224676217

detected = np.loadtxt('/home/krsharma/ClassificationImageText/trained_models/clothing1m_10e/robustnoiserank/clothing-256d_emb/results_190/k=100_a=0.5_bf=1.0_b=1.0_e=2.0.txt')

P/R/F1 (noise) (0.6735020826658122, 0.7313848295059151, 0.7012510425354462, None)
f1_metrics (macro/unweighted mean) 0.750401682431685
avg accuracy over classes 0.7553283437043063 AvgErrorRate 0.24467165629569365

# Give detected ranked list as everstore handles

In [198]:
detected = np.loadtxt('/home/krsharma/ClassificationImageText/trained_models/clothing1m_10e/robustnoiserank/clothing-256d_emb/results_100/k=100_a=0.5_bf=1.0_b=1.0_e=2.0.txt')

76144.0

In [199]:
# cleannet_all_256d.tsv everstore (matches row number)

cleannet_all_256d = pd.read_csv('/home/krsharma/ClassificationImageText/trained_models/clothing1m_10e/robustnoiserank/clothing-256d_emb/cleannet_all_256d.tsv', header=None, sep='\t')

cleannet_all_256d_df = cleannet_all_256d[[0, 1, 2]]

cleannet_all_256d_df.head()

everstore_mapping = dict(zip(cleannet_all_256d_df[0], cleannet_all_256d_df[1]))
everstore_mapping[0]

'GC0fEQWFdXBogHcAABeqOGzEdyUwbiMZAAAB'

In [200]:
cleannet_all_256d_df.head()

   0                                     1   2
0  0  GC0fEQWFdXBogHcAABeqOGzEdyUwbiMZAAAB  11
1  1  GGu2BgVlNA76K6wAACw9uey3qGRmbiMZAAAB   0
2  2  GIb5EAVPqE2MIqgAAJwWenTzGsMibiMZAAAB   8
3  3  GMHYDwXmNmm_OO8IAB9d_7IBUAQMbiMZAAAB   2
4  4  GKYAEQUuckgIWOYDAO8iPtU-xis0biMZAAAB   0

In [201]:
len(detected)

342202

In [203]:
eranked = [everstore_mapping[d] for d in detected]
print(eranked[0:10], len(eranked))

['GFUNEQV8QzrF4BYJACLwms5fwYQnbiMZAAAB', 'GLmSAgWfLiGHbKwBALbtKFfLtuBwbiMZAAAB', 'GC2-CAUil1DYCqwAAHb-CgBLniNcbiMZAAAB', 'GPmHCQW2xPBDsn8AADQliIRLNdA9biMZAAAB', 'GIubAgUsjPMi3L0AANPSFAHmlkdabiMZAAAB', 'GDclBwVTvXzzxa8AACdDC9sNSl5bbiMZAAAB', 'GGI_EQUhKwLfq6IDAIThHOj0cvdrbiMZAAAB', 'GHUwCwVv7S3I_FkMAHorw27TxAAWbiMZAAAB', 'GO2wBgV_Ynta2jACALr7YsnChiILbiMZAAAB', 'GGWzEwVbzo2XK6QAALovSL047BtjbiMZAAAB'] 342202

In [205]:
np.savetxt('out.txt', eranked, fmt='%s')