In [1]:
path = "/home/krsharma/ClassificationImageText/trained_models/food101n_20e/robustnoiserank/food-256d_round1/"

# Format ref numpy to tsv

In [40]:
p = path + "ref_10.npy"
import numpy as np

ref = np.load(p)

print(ref.shape)

(101, 10, 256)

In [41]:
import pandas as pd

df = pd.DataFrame()

def join_str(ci):
    return ",".join(map(str, ci))
    
labels = []
vecs = []
for classname, c in enumerate(ref):
    labels += [int(classname)] * len(c)
    vecs += [join_str(ci) for ci in np.round(c, 3)]
labels = np.array(labels, dtype=np.int32)
df['id'] = np.arange(len(labels))
df['img'] = np.arange(len(labels))
df['labels'] = labels
df['feats'] = vecs

df.head()

   id  img  labels                                              feats
0   0    0       0  -2.164,0.999,-0.822,-0.875,-1.187,-0.955,1.833...
1   1    1       0  -2.124,-2.03,-1.74,-1.389,-1.634,-2.199,3.293,...
2   2    2       0  -0.099,0.33,0.126,-0.536,-0.274,0.241,0.37,-0....
3   3    3       0  -0.439,1.144,-0.38,0.624,-0.169,-0.446,1.071,0...
4   4    4       0  -0.781,0.013,-0.488,-0.843,-0.4,-1.142,1.859,-...

In [42]:
df.to_csv(path + 'ref_10.tsv', sep='\t', header=None, index=False)

# Format extracted 256d embeddings from pkl to tsv

In [2]:
import pickle as pkl

d = pkl.load(open(path + 'd_00000_310016x256.pickle', 'rb'))

In [3]:
d[0].shape

(310016, 256)

In [100]:
import pandas as pd
import numpy as np
df = pd.DataFrame()
sid = np.arange(310016)
eid = d[1]
print(len(sid), len(eid))
df['sid'] = sid
df['eid'] = eid
df.head(), len(eid), len(sid), len(df)

310016 310016

(   sid                                   eid
 0    0  GCiwEgX3XXnyBvwBAJ2fMlAu0y8nbiMZAAAB
 1    1  GCkNDwV2uTAIM7wCAFvqMM6giBogbiMZAAAB
 2    2  GObHBAV-dDAYVvwAANNJM4xiofBtbiMZAAAB
 3    3  GEuxBAWRRZNq6sACADEEqzTycsFbbiMZAAAB
 4    4  GBhuAQVZEMDLZJ0AAIqqAYMah3EobiMZAAAB, 310016, 310016, 310016)

In [102]:
x = df.drop_duplicates(subset='eid', keep='first', inplace=False)
x.head()
len(df), len(x)

(310016, 303370)

In [7]:
ldf = pd.read_csv(path + 'eluo_food101n_everstore_handle_with_label_and_type.csv', header=None)

ldf.head()

,0,1,2,3,4,5,6,7
0,caesar_salad/f8c49734588789daf70be79ffcef9eeb.jpg,f8c49734588789daf70be79ffcef9eeb.jpg,GGLeAwXvkdcqIkcCAI1Z3nzqCwY_biMZAAAB,caesar_salad,11,1.0,2020-02-04,val
1,foie_gras/7a46407ee4c2157aa9abbba1d553e2dd.jpg,7a46407ee4c2157aa9abbba1d553e2dd.jpg,GOX-EQULBp9FmCYDAJLabL7HqXAybiMZAAAB,foie_gras,39,1.0,2020-02-04,val
2,chicken_curry/04b4c813f792838a1cf5ab5086fcb3bb...,04b4c813f792838a1cf5ab5086fcb3bb.jpg,GDSUEQXgTAGMv6kAAAgDm2KPWXBFbiMZAAAB,chicken_curry,18,1.0,2020-02-04,val
3,caprese_salad/8b77869b9f11f198dab328ea2ba0345b...,8b77869b9f11f198dab328ea2ba0345b.jpg,GCunEwXTgNf9OyQCAH40C9EZf98tbiMZAAAB,caprese_salad,13,1.0,2020-02-04,val
4,chocolate_cake/a1e79808922f9c3b219718aeda7b591...,a1e79808922f9c3b219718aeda7b5916.jpg,GFiYAwVHTQHbYhQDAC1ZOvBfpK9BbiMZAAAB,chocolate_cake,21,1.0,2020-02-04,val

In [8]:
np.unique(ldf[4], return_counts=True)[1].mean() # .mean()

3069.3960396039606

In [10]:
# 30 (min), 40 (mean), 50 (max) vs 100 (min), 190 (mean), 211 (max)
K = np.sqrt(2012/2)
print(K)

K = np.sqrt(3070/2)
print(K)

K = np.sqrt(5344/2)
print(K)

31.71750305430741
39.179076048319466
51.69139193328034

In [11]:
ldict = dict(zip(ldf[2], ldf[4]))

In [12]:
df['label'] = df['eid'].apply(lambda x: ldict[x])

In [13]:
df.head()

   sid                                   eid  label
0    0  GCiwEgX3XXnyBvwBAJ2fMlAu0y8nbiMZAAAB     18
1    1  GCkNDwV2uTAIM7wCAFvqMM6giBogbiMZAAAB     63
2    2  GObHBAV-dDAYVvwAANNJM4xiofBtbiMZAAAB     98
3    3  GEuxBAWRRZNq6sACADEEqzTycsFbbiMZAAAB     74
4    4  GBhuAQVZEMDLZJ0AAIqqAYMah3EobiMZAAAB     68

In [15]:
emb = np.vstack([d[0]])

In [16]:
df['emb'] = list(np.round(emb, 3))
df.head()

,sid,eid,label,emb
0,0,GCiwEgX3XXnyBvwBAJ2fMlAu0y8nbiMZAAAB,18,"[-1.213, -2.396, -0.537, -3.458, -0.046, 0.845..."
1,1,GCkNDwV2uTAIM7wCAFvqMM6giBogbiMZAAAB,63,"[0.981, 2.095, -2.309, 0.819, -0.231, 0.701, 0..."
2,2,GObHBAV-dDAYVvwAANNJM4xiofBtbiMZAAAB,98,"[-0.994, 2.514, -0.184, -0.496, 0.773, -3.008,..."
3,3,GEuxBAWRRZNq6sACADEEqzTycsFbbiMZAAAB,74,"[-2.814, -2.551, 0.317, -4.25, -0.723, 1.592, ..."
4,4,GBhuAQVZEMDLZJ0AAIqqAYMah3EobiMZAAAB,68,"[0.85, -0.682, 0.532, -0.019, -0.274, 2.993, 1..."

In [17]:
df['emb'] = df['emb'].apply(lambda x: ",".join(map(str, x)))

In [18]:
df.head()

,sid,eid,label,emb
0,0,GCiwEgX3XXnyBvwBAJ2fMlAu0y8nbiMZAAAB,18,"-1.213,-2.396,-0.537,-3.458,-0.046,0.845,-2.28..."
1,1,GCkNDwV2uTAIM7wCAFvqMM6giBogbiMZAAAB,63,"0.981,2.095,-2.309,0.819,-0.231,0.701,0.174,0...."
2,2,GObHBAV-dDAYVvwAANNJM4xiofBtbiMZAAAB,98,"-0.994,2.514,-0.184,-0.496,0.773,-3.008,0.816,..."
3,3,GEuxBAWRRZNq6sACADEEqzTycsFbbiMZAAAB,74,"-2.814,-2.551,0.317,-4.25,-0.723,1.592,-1.321,..."
4,4,GBhuAQVZEMDLZJ0AAIqqAYMah3EobiMZAAAB,68,"0.85,-0.682,0.532,-0.019,-0.274,2.993,1.029,-0..."

In [19]:
df.to_csv(path + 'cleannet_all_256d.tsv', sep='\t', index=False, header=None)

# Evaluate robustnoiserank

In [23]:
cleannet_all_256d = pd.read_csv(path + '/cleannet_all_256d.tsv', header=None, sep='\t')

cleannet_all_256d_df = cleannet_all_256d[[0, 1, 2]]

cleannet_all_256d_df.head()

everstore_mapping = dict(zip(cleannet_all_256d_df[0], cleannet_all_256d_df[1]))
everstore_mapping[0]

'GCiwEgX3XXnyBvwBAJ2fMlAu0y8nbiMZAAAB'

In [24]:
dict_noisylabel = dict(zip(ldf[0], ldf[4]))
dict_everstorehandle = dict(zip(ldf[0], ldf[2]))
ldf.head()

,0,1,2,3,4,5,6,7
0,caesar_salad/f8c49734588789daf70be79ffcef9eeb.jpg,f8c49734588789daf70be79ffcef9eeb.jpg,GGLeAwXvkdcqIkcCAI1Z3nzqCwY_biMZAAAB,caesar_salad,11,1.0,2020-02-04,val
1,foie_gras/7a46407ee4c2157aa9abbba1d553e2dd.jpg,7a46407ee4c2157aa9abbba1d553e2dd.jpg,GOX-EQULBp9FmCYDAJLabL7HqXAybiMZAAAB,foie_gras,39,1.0,2020-02-04,val
2,chicken_curry/04b4c813f792838a1cf5ab5086fcb3bb...,04b4c813f792838a1cf5ab5086fcb3bb.jpg,GDSUEQXgTAGMv6kAAAgDm2KPWXBFbiMZAAAB,chicken_curry,18,1.0,2020-02-04,val
3,caprese_salad/8b77869b9f11f198dab328ea2ba0345b...,8b77869b9f11f198dab328ea2ba0345b.jpg,GCunEwXTgNf9OyQCAH40C9EZf98tbiMZAAAB,caprese_salad,13,1.0,2020-02-04,val
4,chocolate_cake/a1e79808922f9c3b219718aeda7b591...,a1e79808922f9c3b219718aeda7b5916.jpg,GFiYAwVHTQHbYhQDAC1ZOvBfpK9BbiMZAAAB,chocolate_cake,21,1.0,2020-02-04,val

In [25]:
val = ldf[ldf[7] == 'val']
len(val), val.head()

(4741,                                                    0  \
 0  caesar_salad/f8c49734588789daf70be79ffcef9eeb.jpg
 1     foie_gras/7a46407ee4c2157aa9abbba1d553e2dd.jpg
 2  chicken_curry/04b4c813f792838a1cf5ab5086fcb3bb...
 3  caprese_salad/8b77869b9f11f198dab328ea2ba0345b...
 4  chocolate_cake/a1e79808922f9c3b219718aeda7b591...

                                       1                                     2  \
 0  f8c49734588789daf70be79ffcef9eeb.jpg  GGLeAwXvkdcqIkcCAI1Z3nzqCwY_biMZAAAB
 1  7a46407ee4c2157aa9abbba1d553e2dd.jpg  GOX-EQULBp9FmCYDAJLabL7HqXAybiMZAAAB
 2  04b4c813f792838a1cf5ab5086fcb3bb.jpg  GDSUEQXgTAGMv6kAAAgDm2KPWXBFbiMZAAAB
 3  8b77869b9f11f198dab328ea2ba0345b.jpg  GCunEwXTgNf9OyQCAH40C9EZf98tbiMZAAAB
 4  a1e79808922f9c3b219718aeda7b5916.jpg  GFiYAwVHTQHbYhQDAC1ZOvBfpK9BbiMZAAAB

                 3   4    5           6    7
 0    caesar_salad  11  1.0  2020-02-04  val
 1       foie_gras  39  1.0  2020-02-04  val
 2   chicken_curry  18  1.0  2020-02-04  val
 3   caprese_salad  13  1.0  2020-02-04  val
 4  chocolate_cake  21  1.0  2020-02-04  val  )

In [115]:
detected = np.loadtxt(path + 'results_40/k=5_a=0.5_bf=1.0_b=1.0_e=2.0.txt')

print(len(detected))

# 342202 
# 633645 k=250_a=0.5_bf=1.0_b=1.0_e=2.0.txt

detected_noise_everstore = [everstore_mapping[d] for d in detected]
print(detected_noise_everstore[0:5], len(detected_noise_everstore))

print(detected[0:8])

129890
['GFPxBQVWcApoZcIAAEXgFN4aWD4ubiMZAAAB', 'GCkNDwXkpw441iMCAFIUXaRhbDRubiMZAAAB', 'GDydEAVpLnW9A9wBAD_qPRFOlB4ubiMZAAAB', 'GLGnEgU4jPAgDWwAADJkMv7HdMMibiMZAAAB', 'GFbUBgVBsi9_E7gAAJSlmcLS-JQbbiMZAAAB'] 129890
[ 17238. 154260. 245112. 115510.  49273. 215713. 205484. 271906.]

In [116]:
set_detected_noise = set(detected_noise_everstore)

val['detected_label'] = val[2].apply(lambda x: 0.0 if x in set_detected_noise else 1.0)
val.head()

vlabels = np.array(val[5], dtype=np.int32)
preds = np.array(val['detected_label'], dtype=np.int32)
classes = np.array(val[4], dtype=np.int32)

from sklearn.metrics import f1_score, classification_report, precision_recall_fscore_support

def report_metrics(targets, preds, classes):
    C = np.max(classes) + 1
    per_class_accuracies = np.zeros((C,))
    for c in range(C):
        ind = np.where(classes == c)[0]
        class_acc = f1_score(targets[ind], preds[ind], average='micro')
        per_class_accuracies[c] = class_acc
    
    print('P/R/F1 (noise)', precision_recall_fscore_support(targets, preds, pos_label=0, average='binary'))
    print('f1_metrics (macro/unweighted mean)', f1_score(targets, preds, average='macro'))
    acc_classes = np.mean(per_class_accuracies)
    print('avg accuracy over classes', acc_classes, 'AvgErrorRate', 1 - acc_classes)
    
    report_additional = False
    if report_additional:
        print()
        acc = f1_score(targets, preds, average='micro')
        print('f1_metrics (accuracy/micro)', acc, 'ErrorRate', 1 - acc)
        print('P/R/F1 (clean)', precision_recall_fscore_support(targets, preds, pos_label=1, average='binary'))
        print('f1_metrics (weighted mean of f1)', f1_score(targets, preds, average='weighted'))
    # cr = classification_report(targets, preds)

report_metrics(vlabels, preds, classes)

P/R/F1 (noise) (0.40156326331216413, 0.8964013086150491, 0.5546558704453441, None)
f1_metrics (macro/unweighted mean) 0.676069880604691
avg accuracy over classes 0.7211837711990654 AvgErrorRate 0.2788162288009346

/home/krsharma/miniconda3/envs/bert/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

## results_30

5P/R/F1 (noise) (0.39812992125984253, 0.8822246455834242, 0.5486605629026788, None)
f1_metrics (macro/unweighted mean) 0.6724628392348998
avg accuracy over classes 0.7185903864103752 AvgErrorRate 0.2814096135896248

10P/R/F1 (noise) (0.3869441816461684, 0.8920392584514721, 0.5397558561530847, None)
f1_metrics (macro/unweighted mean) 0.6617551564132343
avg accuracy over classes 0.7040161392502351 AvgErrorRate 0.2959838607497649

results_40

5P/R/F1 (noise) (0.40699442473390773, 0.8756815703380589, 0.5557093425605536, None)
f1_metrics (macro/unweighted mean) 0.6804638945812477
avg accuracy over classes 0.7282107586403482 AvgErrorRate 0.27178924135965177

P/R/F1 (noise) (0.40156326331216413, 0.8964013086150491, 0.5546558704453441, None)
f1_metrics (macro/unweighted mean) 0.676069880604691
avg accuracy over classes 0.7211837711990654 AvgErrorRate 0.2788162288009346

# Give detected ranked list as everstore handles

In [111]:
detected = np.loadtxt(path + 'results_40/k=5_a=0.5_bf=1.0_b=1.0_e=2.0.txt')

In [83]:
# cleannet_all_256d.tsv everstore (matches row number)

cleannet_all_256d = pd.read_csv(path + 'cleannet_all_256d.tsv', header=None, sep='\t')

cleannet_all_256d_df = cleannet_all_256d[[0, 1, 2]]

cleannet_all_256d_df.head()

everstore_mapping = dict(zip(cleannet_all_256d_df[0], cleannet_all_256d_df[1]))
everstore_mapping[0]

'GDoyEQUtQxd01jACALJMfB_0WrxjbiMZAAAB'

In [84]:
cleannet_all_256d_df.head()

   0                                     1   2
0  0  GDoyEQUtQxd01jACALJMfB_0WrxjbiMZAAAB  13
1  1  GNK5EQVrDdu7pcsCAKZh3_qxRyEAbiMZAAAB   3
2  2  GPDHFAWlrY28t9ICAO5LPJxb4xsxbiMZAAAB  13
3  3  GLMtEAWodQHs4qwAALnKwegHDsknbiMZAAAB   8
4  4  GBgX5QQ0Rri3QJwAAMBVW0O6Quo0biMZAAAB   0

In [112]:
len(detected)

129890

In [113]:
eranked = [everstore_mapping[d] for d in detected]
print(eranked[0:10], len(eranked))

['GFPxBQVWcApoZcIAAEXgFN4aWD4ubiMZAAAB', 'GCkNDwXkpw441iMCAFIUXaRhbDRubiMZAAAB', 'GDydEAVpLnW9A9wBAD_qPRFOlB4ubiMZAAAB', 'GLGnEgU4jPAgDWwAADJkMv7HdMMibiMZAAAB', 'GFbUBgVBsi9_E7gAAJSlmcLS-JQbbiMZAAAB', 'GK3bEQWfkYc3h94IAEGo2gnh0vgbbiMZAAAB', 'GN7GBgVS6T_I3dgBAIprZnkmsfsCbiMZAAAB', 'GF93EQWK3igsUGoDAIAvEVXHBLlFbiMZAAAB', 'GIWtDQV-WV8ed6kAABQ3j8cxvlhlbiMZAAAB', 'GLtcFAXTzmeec9YCAG9AG3RxEDxwbiMZAAAB'] 129890

In [114]:
np.savetxt('out.txt', eranked, fmt='%s')