In [10]:
p = "/home/krsharma/ClassificationImageText/datasets/clothing1m/anno/"

import pandas as pd

df = pd.read_csv(p+'clean_train_key_list.txt', header=None, sep=' ')
df.head()

                                       0
0  images/0/00/1301091984,3478567000.jpg
1  images/0/00/1438454636,1588255000.jpg
2   images/0/00/1519846711,336289000.jpg
3  images/0/00/1534362578,1797313000.jpg
4  images/0/00/1628177210,1765387000.jpg

In [19]:
d = pd.read_csv(p+'clean_label_kv.txt', header=None, sep=' ')
d.head()
x = d[d[0].isin(df[0])]
print(len(x))
x.to_csv('clean_extra_imagepath_label.txt', index=False, header=None, sep=' ')

47570

In [20]:
# Clean labels of validation set (gt_label)

In [24]:
import pandas as pd

df = pd.read_csv(p+'clean_val_key_list.txt', header=None, sep=' ')
df.head()

                                       0
0  images/0/00/1429296456,2096860000.jpg
1   images/0/00/1512847604,286114000.jpg
2  images/0/00/1778345552,1560703000.jpg
3  images/0/00/2128192972,2221430000.jpg
4  images/0/00/2301947609,2201797000.jpg

In [26]:
x = d[d[0].isin(df[0])]
print(len(x))
x.head()
x.to_csv('clothing_gt_val.tsv', sep=' ', index=False, header=None)

14313