In [68]:
# generate synthetic uniform random noise in Iris

from sklearn import datasets

# Get iris dataset
iris = datasets.load_iris()
X = iris.data  # we only take the first two features.
y = iris.target

In [77]:
import numpy as np

ind = np.arange(len(X))
num_noise = int(0.45 * len(X))

c = np.random.choice(ind, num_noise)
flip = np.random.choice(np.arange(3), num_noise)
print(c)
print(flip)

[ 48  15 126  70  29  24  80  92  54  36  53 115  64  31  58  95  78  46
  21  78 105  56 123  21 119   9 116  60  60  66 116  41  71  89  34  68
  54 109  37  78 116  60 112 135  32  34  25  28  85  43  47 137  35   1
  84  18  95  60  99  69   0  96  97 120  60 103 122]
[2 0 1 0 0 1 2 0 0 0 2 1 1 1 1 2 0 0 0 1 2 2 2 2 2 2 2 0 2 1 0 2 2 0 0 2 0
 0 1 2 0 1 2 0 0 2 0 2 2 1 1 1 2 2 2 2 2 0 1 0 1 0 2 0 0 0 2]

In [78]:
noisy_labels = y.copy()
noisy_labels[c] = flip

In [79]:
noisy_labels

array([1, 2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 2,
       0, 0, 1, 0, 0, 0, 2, 0, 0, 1, 0, 0, 2, 2, 0, 1, 0, 0, 0, 2, 0, 1,
       0, 0, 0, 1, 2, 0, 1, 1, 1, 2, 0, 1, 2, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 2, 0, 0, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 2, 2, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 2, 0, 2, 1, 1, 2, 2, 2, 0, 2, 2, 2, 2, 2, 0,
       2, 2, 2, 2, 2, 1, 0, 2, 2, 2, 0, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2,
       2, 2, 2, 0, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [80]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [81]:
import pandas as pd
df = pd.DataFrame()
# [sample key, content url, class name, h-dimensional feature delimited by ',']
df['sample_key'] = ind
df['content_url'] = ind
df['class_name'] = noisy_labels
# df['feature'] = np.array(X)
df['feature'] = [x for x in X]
df['feature'] = df['feature'].apply(lambda x: ",".join(map(str, x)))
df.head()

   sample_key  content_url  class_name          feature
0           0            0           1  5.1,3.5,1.4,0.2
1           1            1           2  4.9,3.0,1.4,0.2
2           2            2           0  4.7,3.2,1.3,0.2
3           3            3           0  4.6,3.1,1.5,0.2
4           4            4           0  5.0,3.6,1.4,0.2

In [83]:
df.to_csv('./NoiseRank/dataset/input.tsv', header=None, sep='\t', index=False)

In [82]:

# [sample key, content url, class name, verification label]
df['verification_label'] = (noisy_labels == y)*1

clean_size = np.sum(df['verification_label'])
print(clean_size, (150 - clean_size)/150.0*100)
df.head()

110 26.666666666666668

   sample_key  content_url  class_name          feature  verification_label
0           0            0           1  5.1,3.5,1.4,0.2                   0
1           1            1           2  4.9,3.0,1.4,0.2                   0
2           2            2           0  4.7,3.2,1.3,0.2                   1
3           3            3           0  4.6,3.1,1.5,0.2                   1
4           4            4           0  5.0,3.6,1.4,0.2                   1

In [84]:


valdf = df[['sample_key', 'content_url', 'class_name', 'verification_label']]
valdf.to_csv('./NoiseRank/dataset/validation.tsv', header=None, sep='\t', index=False)